.hidden { display: none;}

* {
  font-family: $font;
  margin: 0px;
  overflow-x: hidden;
  -ms-overflow-style: none; 
  scrollbar-width: none; 

  *::-webkit-scrollbar {
    display: none;
  }
}

body {
  background: linear-gradient(-45deg, #fffffe,  #bae8e8, #e3f6f5, #ffd803);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  height: 100vh;
  padding: 1em 15em 1em 15em;
  
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.title { 
  text-align: center;
  font-size: 3em;
  padding: 1em;
}

ul { 
  margin-bottom: 2em;
  
  align-items: center;
  justify-content: center;
  list-style: none;
  display: flex;
  flex-direction: row;
   


  li {
    overflow: hidden;
    padding: 1em;
    background-color: $cardBack;
    border: 2px solid $border;
    border-radius: 1em;
    margin: 1em;
    object-fit: contain;
    
    text-decoration: none;
    color: inherit;
 
    position: relative;
    padding: 1em;
    //box-shadow: inset 0 0 0 4px #000, inset -4px -4px 0 6px #CCC;
    background-color: $cardBack;
    cursor: pointer; 
    

    &:before {
      position: absolute; 
      left: 0;
      bottom: 0;
      content: "";
     
      width: 100%;
      height: 100%;
      background-color: $cardHover;
      transform-origin: 0 bottom 0;
      transform: scaleY(0);
      transition: .4s ease-out;
    }

    &:hover {
      .post-title {
        color: $cardHover;
      }
      &:before {
        transform: scaleY(1);
      }
    }

    p {
      position: relative;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.333;
      transition: .5s ease-out;
    }

    img {
      position: relative;
      width: 100%;
      border-radius: 1em;
    }

    a {
      text-align: center;
      padding: 2em;
      color: $btnText;
      text-decoration: none; 

      a:hover {
        color: brown;
      }
    } 
  }
   
}


@media (max-width:800px) {
  ul {
    flex-direction: column;
  }
  
}