//Members page setup

.team-member-section {
  
  background: $cardTwoBack;
  margin: 1em;
  padding: 3em;
  border: 2px solid $border;
  border-radius: 1em;
  
  .two-items {
     
    display: grid;
    grid-column: 2/ span 2;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
     

    .rone-item {
      display: grid;
      grid-template-columns: 1fr;
    }

    .rtwo-items {
      padding-top: 3em;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 1.2em;

      h2 {
        font-size: 2em;
        text-align: center;
        background-color: #000;
        color: #fff;
      }
      h3 { 
        text-align: center;
        font-size: 1.5em;
        color: $border;
        background-color: $cardHover;
      }
      h4 {
        font-size: 1.5em;
      }
    }
  }

  .one-item {
    display: grid;
    grid-column: 2 / span 2;
    grid-template-columns: 1fr;
  }
   

  h2,h3,h4 {
    margin: 0.5em;
    border: 2px solid $border;
    border-radius: 0.5em;
    padding: 0.5em;
  }

  img {
    width: 80%;
  }
}

button {
  display: flex;
  align-items: center;
   
  overflow: hidden;
  margin-top: -1em;
  font-size: 2em;
   
 
  border: 2px solid $border;
  border-radius: 0.5em;
   

  a {
    background-color: $cardHover;
    color: $border;
    padding: 0.3em 0.5em;
    font-family: $font;
    text-decoration: none;

    a:hover {
      background-color: $cardBack;
    }
  }
}