//Main BackGround
$backGround: #fffffe;

$cardBack: #bae8e8;
$cardTwoBack: #e3f6f5;
$cardHover: #ffd803;

// Main button color
$btn: #078080;

//Color for HeadLines and button text
$btnText: #232323;

//Color for paragraphs and simple texts
$prag: #222525;

//Main fontS
$font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


//Secondary Strokes 

$border:#232323;

